<%= turbo_frame_tag @try do %>

  <%= turbo_frame_tag id='errors' do %>
    <%= render 'shared/errors', object: @try %>
  <% end %>

  <%= form_with model: @try do |form| %>
    <div>
      <%= form.label :result, "Ваш варіант" %><br>
      <%= form.text_field :result %>
    </div>
    <br>
    <div>
      <%= form.submit 'Спробувати', class: "btn btn-primary" %>
    </div>
  <% end %>

<% end %>