<h2>ALL STATISTICS</h2>

<span style='color: blue'><%= @all_games %></span> - зіграно всього ігор<br>
<br>
<span style='color: green'><%= @finished_games %></span> - закінчених ігор :<br>
<%= @up_to_5_tries_games %> - до 5 спроб включно<br>
<%= @to_6_7_tries_games %> - 6-7 спроб<br>
<%= @to_8_10_tries_games %> - 8-10 спроб<br>
<%= @more_than_10_tries_games %> - більше 10 спроб<br>
<br>
<span style='color: red'><%= @unfinished_games %></span> - незакінчених ігор