<% currently_at(t('menu.finished_game')) %>

<%= render 'sort_form', form_url: finished_games_users_path %>

<div class="row">
  <div class="col-md-7">
    <h2><%= t('.finished_games') %></h2>

    <% @games_finished.each do |game| %>
      <section class="card-text">
        <h5 style='color: blue'><%= game.code.gsub(/[\s,]/, '') %> : <%= t('.code') %></h5>

        <% game.tries.each do |try| %>
          <%= try_text(try) %><br>
        <% end %>

        <h5 style='color: green'><%= victory_text(game.tries.count)%></h5>
      </section>
      <br>
    <% end %>
  </div>
  <div class="col-md-5">
    <%= render 'all_statistics' %>
  </div>
</div>



