<div class="row">
  <div class="col-md-7">
    <h2><%= t('.unfinished_games') %></h2>

    <% @games_unfinished.each do |game| %>
      <section class="card-text">
        <% if game.tries.count == 0 %> 
          <%= t('.text') %><br>
        <% end %>
        <% game.tries.each do |try| %>
          <%= try_text(try) %><br>
        <% end %>
        <%= link_to t('.continue_game'), root_path(game_id: game.id), class: "btn btn-primary" %>
      </section>
      <br>
    <% end %>
  </div>
  <div class="col-md-5">
    <%= render 'all_statistics' %>
  </div>
</div>


