<% currently_at(t('menu.unfinished_game')) %>

<div class="row">
  <div class="col-md-7">
    <h2><%= t('.unfinished_games') %></h2>

    <% @games_unfinished.each do |game| %>
      <section class="card-text">
        <% if game.tries.count == 0 %> 
          <%= t('.text') %><br>
        <% else %>
          <% game.tries.order(position: :asc).each do |try| %>
            <%= try_text(try) %><br>
          <% end %>
          <span class='fs-5'><%= game.tries.count %></span> - <%= t('unfinished_game.tries') %><br>
        <% end %>
        
        <%= link_to t('.continue_game'), root_path(game_id: game.id), class: "btn btn-primary mt-1" %>
      </section>
      <br>
    <% end %>
  </div>
  <div class="col-md-5">
    <%= render 'all_statistics' %>
  </div>
</div>


