<h1>Game Safe   V 1.0</h1>

<div>
  <%= link_to 'Новая игра', start_game_path, class: "btn btn-primary" %>
<div>

<h3>Правила:</h3>
<p>Загадан код из четырёх цифр (цифры не повторяются 0 1 2 3 4 5 6 7 8 9). Отгадайте данный код. Вводя ваш вариант вы будете получать ответ: количество угаданых цифр и сколько из них стоять на своих местах.</p>
<p>!!! В одном ответе не повторяйте цыфры, в загаданном коде не бывает двух 11 или нескольких 333, только по одной цыфре, код из четырёх</p>

<div class='my=1'>X X X X</div>

<div>
  <%= turbo_frame_tag id='results' do %>
    <%= render @games %>
  <% end %>
</div>

<div class='my-3'>
  <%= turbo_frame_tag Game.new do %>

    <div class='my-3'>
      <%= link_to "Мой вариант", new_game_path, class: "btn btn-primary", data: { turbo_frame: dom_id(Game.new) }  %>
    </div>
  <% end %>
</div>


