<%= turbo_frame_tag @game do %>
  
  <%= render 'shared/errors', object: @game %>

  <%= form_with model: @game do |form| %>
    <div>
      <%= form.label :result, "Ваш варіант" %><br>
      <%= form.text_field :result %>
    </div>
    <br>
    <div>
      <%= form.submit 'Спробувати', class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>