<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Safe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render partial: 'shared/menu' %>

    <main class="container mt-3">
      <div id='flash'>
        <%= render 'shared/flash' %>
      </div>
      
    <%= yield %>
  </body>
</html>
